<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="www.w3.org/2001.XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File" fileName="nlog-${shortdate}.log"></target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile"></logger>
  </rules>
</nlog>